* {
    font-family: 'Assistant' !important;
}

#header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}

.nav-link {
    font-size: 14px;
    color: #282c3f !important;
}

.color{
    color: #282c3f !important;
}
.small{
    font-size: max(0.6vw, 13px);
}

.heading{
    font-size: max(1vw, 16px);
}
.bigHeading{
    font-size: max(2vw, 16px);
}

#inputSearch {
    font-size: 15px;
}

#inputSearch:focus {
    border: none !important;
    box-shadow: none !important;

}

#searchMain {
    width: 25rem;
}

.icons {
    font-size: 12px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #757575;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1 !important;
}
.ls{
    letter-spacing: 2px;
    word-spacing: 3px;
}

#footer{
    background-color: #FAFBFC !important;
}

.footLink{
    color: #696b79 !important;
}

.contact{
    text-decoration: none;
    color: #526CD0 !important;
    font-weight: bold;
}

.navItem{
    border-bottom: 3px solid #00000000;
}
#navItem1:hover{
    border-bottom: 3px solid #EE5F73;
}
#navItem2:hover{
    border-bottom: 3px solid #FB56C1;
}
#navItem3:hover{
    border-bottom: 3px solid #F26A10;
}
#navItem4:hover{
    border-bottom: 3px solid #F2C210;
}
#navItem5:hover{
    border-bottom: 3px solid #0DB7AF;
}
#navItem6:hover{
    border-bottom: 3px solid #FF3F6C;
}

#menCard{
    max-width: 20rem;
}

#menCard:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.discount{
    color: #ff905a;
}

.vr{
    height: 5px;
    margin: auto;
    
}

.teal{
    color: #14958F !important;
}

.sizeSpan{
    border-radius: 50%;
    padding:  12px 20px;
    border: 1px solid #00000075;
}
.sizeSpan:hover{
    border-color: #ff3f6c;
}

.addToBag{
    background-color: #ff3f6c;
    color: white;
}
.addToBag:hover{
    background-color: #d32850;
    color: white;
}

.addToWish{
    background-color: white;
    color: #ff3f6c;
    border: 1px solid #FF3F6C;
}
.addToWish:hover{
    background-color: #ffffff;
    color: #ff3f6c;
    border: 1px solid #FF3F6C;
}
.addToBag:active{
    scale: 0.95;
    background-color: #ff3f6c !important;
    color: white !important;
}
.addToWish:active{
    scale: 0.95;
    background-color: #f7f7f7 !important;
    color: #ff3f6c !important;
    border: 1px solid #FF3F6C !important;
}

.listDivider{
    border-top: 1px dashed #696B79;
    height: 4px;
    width: 40px;

}

.delivery-address{
    background-color: #ff3f6c1c;
}

.changeBtn{
    background-color: transparent !important;
    color: #c52349 !important;
    border: 1px solid #c52349!important;
}

.delivery-address, .offers, .item-card, .priceMain, .coupons, .totalPrice{
    border-color: rgba(128, 128, 128, 0.603) !important;
}

.verysmall{
    font-size: max(1vw, 12px);
}

.pointer{
    cursor: pointer;
}

.apps{
    width: 12vw;
}
/* .apps2{
    width: 8vw;
} */

.pinkColor{
    color: #DC3545 !important;
}

.modeActive{
    color: #DC3545 !important;
}

.payNonActive{
    border-left: 5px solid transparent !important;
}

.payActive{
    background-color: white !important;
    border-left: 5px solid #FF3F6C !important;
    color: #ff3f6c !important;
    border-right: 1px solid transparent !important;
}

.bgPayGrey{
    background-color: #F4F4F5 ;
}

.payInput{
    transition: 0.3s;

    &:focus{
        box-shadow: none !important;
        border: 1px solid black !important;
    }
}

.bagBadge{
    padding: 3px 5px !important;
    font-size: 10px;
}